/* details.css */
.singlePost {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.postContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: calc(100% - 500px);
  padding: 20px 50px;
  margin: 20px;
  background: var(--mintgreen-color);
}

.postContainer .coverPhoto img {
  width: 100%;
  height: 400px;
  object-fit: cover;
  border: 2px solid var(--facebook-color);
}

.singlePost .postBody {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.singlePost h1 {
  font-size: 30px;
  font-weight: 500;
}

.singlePost p {
  margin: 20px 0;
  font-size: 18px;
}
